$text-color: #333;
$text-color-footer: #fff;
$text-font-weight: 300;

$link-color: $text-color;
$link-color-footer: $text-color-footer;
$link-font-weight: $text-font-weight;

$panel-bg-color: #f4f4f4;
$panel-border: 2px solid rgba(0, 0, 0, 0.2);
$panel-border-radius: 5px;
$panel-opacity: 1;
$panel-opacity-default: 0.3;
$panel-label-color: #4a90e2;
$panel-label-font-weight: bold;
$panel-toggler-hover-opacity: 1;